
.about-content-area {
  width: 100%;

  .hero-image-header {
    height: 100vh;
  }
  .entry-content {
    margin-top: 0;
  }
  h1 {
    color: white;
    font-size: 3rem;
    text-transform: uppercase;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-size: 2rem;

  }
  p {
    width: 900px;
    margin: auto;
    padding-bottom: 30px;
    font-family: 'Merriweather';
    letter-spacing: .5px;
  }
}
