.hero-image-header {
  height: 45rem;

  .entry-title {
    text-transform: uppercase;
    color: $color_fonts;
    font-size: 50px;

 
  }
}



.entry-content h2 {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;

}

.entry-content p {
  text-align: justify;
  color: #404040;
  font-family: Merriweather Web,serif;
  font-size: 1.2rem;

}