.site-footer {
  background-image: url("../../assets/images/dark-wood.png");
  width: 100%;
}

.company-info{
  display: flex;
  justify-content: space-around;
  line-height: 1.75;
  font-size: 1.3rem;
  font-family: 'Merriweather, sans-serif';

  p, 
  & a:link{
  color: $color_fonts;
  font-weight: 300;
  font-style: normal;
  }

  & h3 {
    color: $color_footer;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .footer-logo {
    width: 17rem;
    padding-top: 20px;

}

}

.copyright {
  text-transform: uppercase;
  text-align: center;
  color: $color_fonts;
}

.social-media-icons i {
  color: $color_fonts;
  padding-right: 10px;
}

.fa-phone, .fa-envelope {
  padding-right: 10px;
}

.site-info {
  font-family: 'Merriweather, sans-serif';
}
