// hero banner/header

.hero-banner {
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.4) 0,
      rgba(0, 0, 0, 0.4)
    ),
    url('../../images/home-hero.jpg');
  background-size: cover, cover;
  height: 100vh;

  .main-logo-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
    top: 25vh;
    
  }
}


// shop stuff section begins


.home-shop-stuff {
  width: 100%;
  margin: 5rem auto;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 2px;

  h2 {
    font-family: 'Novecento Sans Web';
    font-weight: normal;
    color: #2f1339;
  }
}

.home-shop-stuff-wrapper {
  display: flex;
  justify-content: center;
  margin-right: 100px;
  margin-left: 100px;
}

.home-terms-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 22%;
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  padding: 20px;
  margin-left: 20px;

  &:hover {
    border-color: $color_footer;
  }

  img {
    width: 60px;
  }

  .shop-stuff-link-container {
    background-color: $color_nav;
    height: 40px;
    width: 120px;
    cursor: pointer;
    text-align: center;
    margin: 0 auto;
    padding-top: 8px;

    &:hover {
    border-color: $color_footer;
    background: #19625d;
    }

    a {
      color: $color_fonts; 
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Novecento Sans Web', sans-serif;
      font-size: 0.9rem;

    }
  }

  p {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
    line-height: 1.75;
    color: $color__text-main;
    text-align: center;
    height: 100px;
  }
}



// blog section begins


.main-blog-wrapper {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 100px;
  justify-content: center;
}

.home-blog-posts-wrapper {
  display: flex;
  flex-direction: column;
  width: 25%;
  border: 1px solid #e1e1e1;
  margin-right: 20px;

  .meta-data-journal {
    margin-left: 10px;
    font-size: 0.85rem;
    font-family: 'Merriweather', serif;
    padding-top: 10px;
  }

  .journal-content {
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 10px;

    a {
      text-decoration: none;
      color: $color_nav;
    }
    & a:hover {
      color: $color__text-main;
    }
  }

  img {
    border-bottom: 5px solid #e1e1e1;
  }
}

.read-entry {
  border: 1px solid black;
  cursor: pointer;

  text-transform: uppercase;
  font-size: 0.9rem;
  width: 150px;
  padding: 10px 20px;
  text-align: center;
  margin-left: 10px;
  margin-bottom: 10px;

  a:link,
  a:visited {
    color: black;
    text-decoration: none;
  }
}

.read-entry:hover {
  background: $color_nav;
  border: 0;
  a {
    color: $color_fonts;
  }
}



// latest adventures section styles 


.canoe-girl-heading {
  font-size: 3rem;
}
.friends-beach-heading {
  font-size: 2.2rem;
}
.mountain-and-night {
  font-size: 1.2rem;
}

.journal-main-box {
  display: flex;
  width: 100vw;
  padding-right: 100px;
  padding-left: 100px;
  margin-bottom: 50px;

  h3 {
    font-family: 'Merriweather';  
    font-weight: 300;
    color: $color_fonts;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-right: 20px;
    
    &:hover {
    color: $color_hover;
    cursor: pointer;
    }
  }
}

.one {
  height: 520px;
  width: 100%;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/canoe-girl.jpg);
  background-size: cover, cover;
  background-position: center, center;
}
.canoe-girl {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
  height: 580px;
}
.friends-beach {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 500px;
  width: 50%;
}
.two {
  height: 250px;
  width: 90%;
  margin: 10px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/beach-bonfire.jpg);
  background-size: cover, cover;
  background-position: center, center;
}
.big-mountain {
  height: 250px;
  width: 44%;
  margin: 10px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/mountain-hikers.jpg);
  background-size: cover, cover;
  background-position: center, center;
}
.night-sky {
  height: 250px;
  width: 44%;
  margin: 10px;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url(../../images/night-sky.jpg);
  background-size: cover, cover;
  background-position: center, center;
}

.adventures-readentry {
  text-transform: uppercase;
  color: $color_fonts;
  border: 1px solid white;
  padding: 10px;
  margin-left: 20px;
  &:hover {
    background: #248a83;
    border: 0;
    color: $color_fonts;
    cursor: pointer;
  }
}

.more-adventures-button {
  background: #248a83;
  color: $color_fonts;
  font-family: 'Novecentos', sans-serif;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 1rem;
  width: 210px;
  text-align: center;
  margin-top: 20px;


  &:hover {
    background: #19625d;
    cursor: pointer;
  }
}
