/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
display: block;
}

@media screen and (min-width: 768px) {
.menu-toggle {
display: none;
}
.main-navigation ul {
display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main  {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

 }

//  GREEN NAVIGATION 

.archive .main-navigation, 
.single .main-navigation,
.blog .main-navigation,
.search .main-navigation,
.page-id-62 .main-navigation  {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 2rem;

	position: fixed;
	width: 100%;
	top: 0;
	padding-bottom: 0;
	border-bottom: 1px solid #e1e1e1;
	background-color: rgba(255,255,255,0.8);

	.green-logo-header {
		max-width: 3rem;
		margin-left: 5rem;
	}
	
	.white-logo-header {
		display: none;
	}


	.menu {
		display: flex;
		list-style: none;
		padding-left: 40rem;
		margin-bottom: 0;
	}
	
  .menu a {
		text-decoration: none;
		text-transform: uppercase;
		padding-right: 10px;
		color: $color_nav;

		&:hover {
			color: #404040;
		}
		
  }
 

}


// WHITE NAVIGATION

.home .main-navigation, 
.page-template-about .main-navigation {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 2rem;

	position: fixed;
	width: 100%;
	top: 0;
	padding-bottom: 0;

	.white-logo-header {
		max-width: 3rem;
		margin-left: 5rem;

	}

	.green-logo-header {
		display: none;
	}

	.menu {
		display: flex;
		list-style: none;
		margin-left: 35rem;
		margin-bottom: 0;
	}
	
  .menu a {
		text-decoration: none;
		text-transform: uppercase;
		padding-right: 10px;
		color: $color_fonts;

		&:hover {
			color: $color_hover;
		}
		
	}
	
	.icon-search i {
		cursor: pointer;
		color: $color_fonts;


	}
	
	label .search-field::placeholder {
		color: $color_hover;
		
	}
	
	.search-field {
		outline: none;
	}

}



.site-header {
	position: fixed;
}


.site-header .search-field {
	width: 0;
	background: transparent;
	border: 0;
	transition: .6s;

	input:focus {
		border:0;
	}
	
	// color: $color_hover;
	
	&.search-active {
		width: 200px;
	}
		
}



.icon-search i {
	color: $color_nav;
	cursor: pointer;
	// color: $color_fonts;
}

fieldset {
	border: 0;
}








