/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
display: block;
}

@media screen and (min-width: 768px) {
.menu-toggle {
display: none;
}
.main-navigation ul {
display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main  {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

 }

/* Navigation */

#site-navigation {
	display: flex;
	justify-content: space-around;
	align-items: baseline;
	position: fixed;
	width: 100%;
	top: 0;
	padding-top: 2.2rem;
	padding-bottom: 0;
		// border-bottom: 1px solid #e1e1e1;
		// background-color: rgba(255,255,255,0.8);

	.green-logo-header {
		display: none;
		max-width: 3rem;
		margin-left: 5rem;
	}
	
	.white-logo-header {
		display: none;
		max-width: 3rem;
		margin-left: 5rem;
	}


	.menu {
		display: flex;
		list-style: none;
		padding-left: 40rem;
		margin-bottom: 0;
	}
	
  .menu a {
		text-decoration: none;
		text-transform: uppercase;
		padding-right: 10px;
		// color: $color_nav;
		color: $color_fonts;
		
  }
  .menu a:hover {
		// color: #404040;
		color: $color_hover;
  }

}


// homepage
.home, 
.page-template-about {
// try using the dark nav background
#site-navigation .green-logo-header {
	display: block;
	// max-width: 3rem;
	// margin-left: 5rem;
}
}



.site-header {
	position: fixed;
}


.site-header .search-field {
	// display: none;
	width: 0;
	background: transparent;
	border: 0;
	transition: .6s;

	input:focus {
		border:0;
	}
	
	// color: $color_hover;
	
	&.search-active {
		width: 200px;
	}
		
}



.icon-search i {
	color: $color_nav;
	cursor: pointer;
	// color: $color_fonts;
}

fieldset {
	border: 0;
}








