/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/

/* Links */

 a {
	color: $color__link;

	&:visited {
		color: $color__link-visited;
	}
	&:hover,
	&:focus,
	&:active {
		color: $color__link-hover;
	}
	&:focus {
		outline: thin dotted;
	}
	&:hover,
	&:active {
		outline: 0;
	}
}

/* Menus */

.main-navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	clear: both;
	float: left;
	width: 100%;

	.menu {
		
		
			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a:link, a:visited {
				color:white;
			}

	}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
}
	li {
		float: left;
		position: relative;

	}
	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a {
	}


/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 $base__space-unit;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}


.site-description {
	margin:0;
}

.white-logo-container {
	width: 50px;
	height: 50px;
}

#primary-menu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	width: 500px;
	display: flex;
	justify-content: space-around;


}

.fa-search {
	color: $color_nav;
}